# Node.js
node_modules/

# Logs
*.log

# Environment files
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Archives
*.tar.gz
*.zip

# OS files
Thumbs.db
